.header-wrap{
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #edeff1;
    
    margin-top: 60px;
    
   
}

.navbar-wrap{
    display: flex;
   

}
.navbar{
    display: flex;
   align-items: center;
    
   
}

.nav-list{
    list-style: none;
    display: flex;
    text-decoration: none;
    margin: 40px 0 40px 0;
    padding: 0;
   
    

}

.nav__item{

    &:not(:first-child){
        margin-left: 45px;
    }
}

.ui-list{
    list-style: none;
    
    display: flex;
    padding: 0;
    margin: 0;
}
.header{
    @include container;
}

.nav__link{
    @include rem(12);
    color: $deepblue;
    display: block;
    text-decoration: none;
    &:hover{
        color: $orange;
    }
}


.ui-list_item{
   &:not(:first-child){
       margin-left: 29px;
   }
}

.logo-link{
    display: block;
}

.logo-wrap{
  
}

.fa-search, .fa-user{
    color: $deepblue;
}