.header-wrap {
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #edeff1;
    margin-top: 60px;
    margin-bottom: 0;
    padding-bottom: 0;
   
}

.logo-link {
    display: block;
}

.logo-wrap {
    margin-top: 25px ;
    margin-right: 83px;
    
    @include small{
        display: none;
    }
}




.navbar-wrap {
    display: flex;
    width: 100%;
  

}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include small {
        flex-direction: column;
        text-align: center;
        
    
    }

    
    
}



.header-wrap {
  
    width: 100%;
   
   
}



.nav-list {
    @include reset-list;
    display: flex;
    text-decoration: none;
    margin: 40px 0 40px 0;
    
    

    @include small {
        flex-direction: column;
        margin: 20px 0 10px 0;
        
    }

    
    
}

.nav__item {
    &:not(:first-child) {
        margin-left: 45px;
    }

    @include small {
        &:not(:first-child) {
            margin-left: 0px;
        }
    }

    
}

.ui-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

    @include small {
        padding-bottom: 20px;
        padding-top: 20px;
        }


}

.header {
    @include container;

    @include small{
      
       
        width: 100%;
        position: relative;
   
    }

}

.nav__link {
    @include rem(16);
    color: $deepblue;
    display: block;
    text-decoration: none;
    &:hover {
        color: $orange;
    }

    @include small {
        padding-bottom: 20px;
       
    }
}

.ui-list_item {
    width: 20px;
    &:not(:first-child) {
        margin-left: 29px;
    }

    
}


.ui-list__link{
    color: $deepblue;
    &:hover{
        color: $orange;
    }
}

.nav__icon {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .nav-burger__checkbox {
    display: none;
      @include small {
        
    
        &:checked {
        ~ .nav-list  {
            display: none;
            
        }
        }
    }
  }