<nav class="navbar navbar-expand-lg  sticky-top">

<div class="header-wrap">
  
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <i class="fas fa-bars"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="nav_list">
          <li><a class="navbar-brand brand__logo" href="index.html">SHOP</a></li>
        <li class="nav_item">
          <a class="nav_link" href="index.html">Home
          </a>
        </li>
        <li class="nav_item">
          <a class="nav_link" href="#">Products</a>
        </li>
        <li class="nav_item">
          <a class="nav_link" href="#">Hot Deals</a>
        </li>
        <li class="nav_item">
          <a class="nav_link" href="#">About</a>
        </li>
        <li class="nav_item">
          <a class="nav_link" href="#">Contact</a>
        </li>
      </ul>
  
      <ul class="cart-list">
        <li class="user-list__item">
          <a href="#" class="user-list__link">
            <i class="fas fa-search"></i>
          </a>
        </li>
        <li class="user-list__item">
          <a href="#" class="user-list__link">
            <i class="fas fa-user"></i>
          </a>
        </li>
        <li class="user-list__item">
          <a href="#" class="user-list__link">
            <i class="fas fa-shopping-basket"></i>
          </a>
        </li>
      </ul>
      </div>
</div>




</nav>