<div class="header-wrap">
    <header class="header">
        <div class="navbar-wrap">
            <div class="logo-wrap">
                <a href="index.html" class="logo_link"><img src="img/Logo_.png" alt="" class="logo_img"></a>
            </div>
            <nav class="navbar">
                <!-- Navigation-->
                <ul class="nav-list">
                    <li class="nav__item"><a href="index.html" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="products.html" class="nav__link">Products</a></li>
                    <li class="nav__item"><a href="products_show.html" class="nav__link">Hot Deals</a></li>
                    <li class="nav__item"><a href="index.html" class="nav__link">About</a></li> 
                    <li class="nav__item"><a href="index.html" class="nav__link">Contact</a></li>
                </ul>
                <!-- /Navigation-->
                <ul class="ui-list">
                    <li class="ui-list_item"><a href="#" class="ui-list__link"><i class="fas fa-search"></i></a></li>
                    <li class="ui-list_item"><a href="#" class="ui-list__link"><i class="far fa-user"></i></a></li>
                    <li class="ui-list_item"><a href="#" class="ui-list__link"><i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>