.new-arrivals {
    background-color: $grey;
    display: flex;
    flex-direction: column;
}

.new-arrivals__title-wrap {
    display: flex;
    // margin-top: 200px; // времменый маржин
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}