.product-show {
    padding-bottom: 120px;
    padding-top: 80px;

    @include medium {
        width: 700px;
        padding-top: 40px;
        padding-bottom: 60px;
    }

}


.container--product-show {
    display: flex;
    width: 1022px;
    margin: 0 auto;
    
    @include large {
        width: 900px;
    }

    @include medium {
        width: 700px;
        padding: 0px 10px 0 10px;
    }

    @include small {
        flex-direction: column;
        width: 540px;
        align-items: center;
 
    }

    @include extra-small {
        width: 340px;
    
    }

}

/**
*   Slider
**/

.product-show__slider-wrap {
    width: 320px;
    margin-right: 87px;

    @include medium {
        margin-right: 50px;

    }

    @include small {
        margin-right: 0px;

    }
}

.product-show__img-wrap {
    display: flex;
    justify-content: center;
    // width: 320px;
}

.slider__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    // justify-content: space-between;
    padding: 0;
    margin-top: 68px;
    width: 345px;

    @include small {
        margin-top: 30px;
    
    }

}

.slider__link {
    background-color: $grey;
    width: 95px;
    height: 69px;
    display: block;
    position: relative;
   

    &:not(:last-child) {
        margin-right: 13px;
    }


    &:focus::before {

        content: '';
        width: 100%;
        height: 100%;
        position: absolute;      
        left: 0;
        top: 0;  
        background-color: $orange;
        opacity: 0.78;
        z-index: 5;
        
    
    }

    
}


.slider__item {
    margin-bottom: 20px;
    &:not(:last-child) {
        margin-right: 20px;
    }

    @include small {
        margin-bottom: 10px;

        &:not(:last-child) {
            margin-right: 15px;
        }
        
    }
}

.slider__img {
    display: flex;
    margin: 0 auto;
    // padding-top: 10px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}


/**
*   Descr
**/


.product-show__info-wrap {
    @include small {
        // display: flex;
        // align-items: center;
    }
}



.product-show__title {
    // font-size: 52.04px;
    @include rem(52);
    margin-top: 0;
    margin-bottom: 29px;
    line-height: 40px;

   @include medium {
    @include rem(45);
   }

   @include small {
        text-align: center;
        line-height: 1.1;
   }

}


.product-show__descr {
    line-height: 30px;
    font-weight: 400;
    @include rem(16);
    margin-top: 0;
    margin-bottom: 40px;

    @include medium {
        margin-bottom: 30px;
        
    }

    @include small {
        text-align: center;
   }
}


.product-show__sub-title {
    margin: 0;
    margin-bottom: 37px;

    @include medium {
        margin-bottom: 20px;
    }

    @include small {
        text-align: center;
        
    }

}


/**
*   Choose
**/

.product-show__choose-wrap {
    display: flex;
    justify-content: space-between;
    border-top: solid $lightgray 1px;
    border-bottom: solid $lightgray 1px; 
    padding: 40px 0;

    @include medium {
        flex-direction: column;
        padding: 30px 0;
    }

    @include small {
       align-items: center;
    }
}

.product-show__choose {
    color: $deepblue;
  
    @include rem(17.95);
}

/**
*   Sizes
**/

.product-show__size-wrap {
    display: flex;

    @include medium {
        margin-bottom: 30px;
    }
}

.sizes__list {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
}

.sizes__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 20px;
    }


    &:not(:last-child):after {
        content: "-";
        position: absolute;
        color: $deepblue;
        top: 0;
        left: 15px;
    }


}

.sizes__link {
   text-decoration: none;
   color: $deepblue;
   
   @include rem(14.03);

   &:focus {
    color: $orange;
    @include rem(18.03);

   }

   &:hover {
    text-decoration: none;
    color: $deepblue;

   }


}

// .sizes__link--active {
//     color: $orange;
//     @include rem(18.03);
// }


/**
*   Counter
**/

.product-show__quantity-wrap {
    display: flex;
}

.product-show_counter-wrap {
    display: flex;
    width: 50px;
    justify-content: space-between;
}

.counter_content {
    color: $deepblue;
    @include rem(17.8);
    text-decoration: none;
}

.counter_content--number {
    color: $orange;
}

.choose--quantity {
    margin-right: 21px;
}


/**
*   Order
**/

.product-show__order-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    align-items: center;

    @include medium {
        flex-direction: column;
    }
}


.product-show__price {
    @include rem(19.83);
    color: $deepblue;
    font-weight: 900;
    display: block;

    @include medium {
        margin-bottom: 30px;
      
    }

}

.product-show__order {
    display: flex;
    align-items: baseline;
    
    
}

/**
*   Icons
**/

.order__list {
    display: flex;
    list-style: none;
    margin-right: 25px;
    padding: 0;
}


.order__item {
  
    display: block;
    width: 20px;
    height: 20px;
}

.order__link {
    color: $deepblue;
    display: block;

    &:focus {
        color: $orange;
            
    }
   
}

.order__item {
    

    &:not(:last-child) {
        margin-right: 33px;
    }
}





/**
*   Button
**/

.order-btn {
    color: $white;
    background-color: $orange;
    border: none;
    border-radius: 35px;
    padding: 18px 23px;
    @include rem(18);
    line-height: 12px;
    cursor: pointer;
    outline: none;
    

    &:focus {
        background: $white;
        color:  $orange;
        border:  solid 1px $orange;
    }

    
   
}
