<!-- Icons -->
{%
    set orderItems = [
        { icon: "fas fa-globe" , path: '#' },
        { icon: "fas fa-cart-plus", path: '#' },
        { icon: "far fa-heart", path: '#' }
    ]  
  %} <!-- ./Icons -->

  <!-- Slider -->
{%
    set sliderItems = [
        { path: '#', src: 'img/Shoes.png' },
        { path: '#', src: 'img/Trousers.png' },
        { path: '#', src: 'img/Trousers.png' }
    ]

%} <!-- ./Slider -->

<!-- Sizes -->
{%
    set sizeItems = [
        { path: '#', size: 'S', class: 'sizes__link--active' },
        { path: '#', size: 'M' },
        { path: '#', size: 'L' },
        { path: '#', size: 'XL' }
    ]

%} <!-- ./Sizes -->
<section class="product-show">
    <div class="container--product-show">
         <!-- Slider -->
        <div class="product-show__slider-wrap">

            <div class="product-show__img-wrap">
                    <img src="img/green-coat.png" alt="">

            </div>
            <!-- Slider list -->
            <ul class="slider__list">
                {% for item in sliderItems %}
                <li class="slider__item">
                    <a href="{{ item.path }}" class="slider__link">
                        <img src="{{ item.src }}" alt="" class="slider__img">
                    </a>
                </li>
                {% endfor %}
            </ul> <!-- ./Slider list -->

        </div> .<!-- ./Slider -->

        <!-- Product show info -->
        <div class="product-show__info-wrap">

            <div class="product-show__descr-wrap">

                <h1 class="product-show__title title-main">
                    full winter kit
                </h1>

                <h4 class="product-show__sub-title sub-title">
                    Half Jacket + Skiny Trousers + Boot Leather
                </h4>

                <p class="product-show__descr">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt inventore quas, doloribus pariatur aut repudiandae, unde animi saepe velit sit ipsam, non quam ipsa rem.
                    
                </p>

            </div>

            <!-- Choose -->
            <div class="product-show__choose-wrap">
                <div class="product-show__size-wrap">
                    <span class='product-show__choose choose--size'>Choose size</span> 
                    <!-- Sizes -->
                    <ul class="sizes__list">
                        {% for item in sizeItems %}
                        <li class="sizes__item">
                            <a href=" {{ item.path }}" class="sizes__link {{ item.class }}"> {{ item.size }}</a>
                        </li>
                        {% endfor %}
                    </ul> <!-- ./Sizes -->
                </div>
                
                <div class="product-show__quantity-wrap">
                    <span class='product-show__choose choose--quantity'> Choose quantity </span>
                    <div class="product-show_counter-wrap">
                            {% include 'components/products_page/counter.html' %}

                    </div>
                </div>


            </div>  <!-- ./Choose -->

            <div class="product-show__order-wrap">

                <span class="product-show__price"> Price : 120$  </span>

                <div class="product-show__order">

                    <!-- Icons -->

                    <ul class="order__list">
                        {% for item in orderItems %}
                            <li class="order__item">
                                <a href=" {{ item.path }} " class="order__link"> <i class="{{ item.icon }}"></i></a>
                            </li>
                        {% endfor %}
                    </ul> <!-- ./Icons -->
        
                    <button class="order-btn">
                        <span class="order-btn__title">Order Now</span>
                    </button>
                
                </div>
            </div>

        </div> <!-- ./Product show info -->
    </div>
</section>

