@import '../libs/normalize';  

@import '../libs/fontawesome-all';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900');


@import 'misc/env';
@import 'misc/mixins';
@import 'misc/adjustments';

/**
*   Split duties and import done styles for components
**/

/**
* Layout styles
**/
@import '../components/new_arrivals/new_arrivals';
@import '../layout/footer/footer';
@import '../layout/header/header';
@import '../layout/upper_header/upper_header';
