<div class="filter-wrap">

    <div class="categories-filer__wrap filter--container">
        <span class="filter-title">Categories</span>
        <ul class="filter-list">
            <li class="filter-list__item">
                <a href="#" class="filter-list__selection">Man</a></li>
            <li class="filter-list__item">
                <a href="#" class="filter-list__selection">Women</a></li>
            <li class="filter-list__item">
                <a href="#" class="filter-list__selection">Children</a></li>
            <li class="filter-list__item">
                <a href="#" class="filter-list__selection">Hot Deals</a></li>
        </ul>
    </div>

    <div class="sizes-filer__wrap filter--container">
        <span class="filter-title">Size</span>
        <ul class="filter-list">
            <li class="filter-list__item">
                <a href="#" class="filter-list__selection"><i class="far fa-square"></i>Small</a></li>
            <li class="filter-list__item">
                <a href="#" class="filter-list__selection"><i class="far fa-square"></i>Medium</a></li>
            <li class="filter-list__item">
                <a href="#" class="filter-list__selection"><i class="far fa-square"></i>Large</a></li>
            <li class="filter-list__item">
                <a href="#" class="filter-list__selection"><i class="far fa-square"></i>X Large</a></li>
        </ul>
    </div>

    <div class="brands-filer__wrap filter--container">
        <span class="filter-title">Brand</span>
        <ul class="filter-list">
            <li class="filter-list__item">
                <a href="#" class="filter-list__selection"><i class="far fa-square"></i>Reebok</a></li>
            <li class="filter-list__item">
                <a href="#" class="filter-list__selection"><i class="far fa-square"></i>Adidas</a></li>
            <li class="filter-list__item">
                <a href="#" class="filter-list__selection"><i class="far fa-square"></i>Nike</a></li>
            <li class="filter-list__item">
                <a href="#" class="filter-list__selection"><i class="far fa-square"></i>Active</a></li>
        </ul>
    </div>
</div>