.hero-caption{
    text-transform: uppercase;
    @include rem(52);
    color: $orange;
    padding: 0;
    margin: 0;
}

.separator{
    display: none;
    @include large{
        display: inline;
        height: 12px;
        border: 0;
        box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
        }
    }


.hero-wrap{
    width: 100%;
    height: 650px;
    position: relative;
<<<<<<< HEAD
    
    
}

=======
    
}
>>>>>>> origin/product_view

.hero-wrap::before, .hero-wrap::after {
    content: '';
    width: 100%;
    height: 100vh; 
    position: absolute;      
    left: 0;
    top: 0;    
}

.hero-wrap::before {               
<<<<<<< HEAD
    background: url('../img/background.png') ;    
    z-index: -100;    
    @include large{
        background: #f4f6f8;
        width: 100%;
    }
=======
    background: url('../img/background.png');    
   
    z-index: -99;    
>>>>>>> origin/product_view
}

.hero-wrap::after {  
    background:  url('../img/img.png');
    z-index: -99;
    @include large{
        background: #f4f6f8;
        width: 100%;
    }
}

<<<<<<< HEAD
.hero-desr_wrap{
    position: absolute;
    @include container;
    margin-top: 229px;
    margin-left: 224px;
    @include large{
        width: 700px;
    }

    @include medium{
        width: 570px;
    }
}

.hero-sale{
    color: $supergray;
    @include rem(18);
    margin-top: 29px;
}
.hero_price{
    color: $deepblue;
    @include rem(18);
}
.price-wrap{
    display: flex;
    margin-top: 63px;
}

.hero_order-link{
    text-decoration: none;
    color: $orange;
    margin-left: 31px;
}
.block-descr{
    color: $darkgrey;
    margin-top: 31px;
}

=======
.hero-desr_wrap {
    @include container;
}
>>>>>>> origin/product_view
