<div  class="page__wrap">
    <div class="full__winter__kit__wrap">
    
        <div class="full__winter__kit__blocks">
    
            <div class="full__winter__kit__first__block">
                <div class="box">
                    <div class="box"></div>
                </div>
                <div class="text">
                    <p>Sale</p> <p>50%</p>
                </div>
            </div>
    
            <div class="full__winter__kit__second__block">
                <h1 class="second__block__header">FULL WINTER KIT</h1>
                <p class="second__block__paragraph">Half Jacket + Skiny Trousers + Boot leather</p>
            </div>
    
            <div class="full__winter__kit__third__block">
                
                <p class="third__block__paragraph"><i class="fas fa-cart-arrow-down"></i> 120$</p>
                
            </div>
        </div>
    
        <div class="adv__area__block">
            <h1 class="adv__area__header">adv <span>area</span></h1>
            <p class="adv__area__paragraph">4 7 0 x 1 0 0</p>
        </div>
    
    </div>
    
    
    <div class="new-arrivals__title-wrap">
        <h2 class="block-title">
            <span class="accent">best</span> sales
        </h2>
        <p class="block-descr">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem hic voluptatum optio!</p>
    </div>
    
    <ul class="cards__section">
        <li>
            <div class="content">
                <div class="img">
                    <img src="src/img/brown-jacket.png">s
                </div>
                <div class="info">
                    <p>Reebook Track Jacket</p>
                    <div class="block">
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="cost">100$</div>
                    </div>
                </div>
            </div>
        </li>
    
        <li>
                <div class="content">
                    <div class="img">
                        <img src="src/img/brown-jacket.png">s
                    </div>
                    <div class="info">
                        <p>Reebook Track Jacket</p>
                        <div class="block">
                            <div class="cost"><i class="fas fa-cart-arrow-down"></i> add to cart</div> 
                        </div>
                    </div>
                </div>
            </li>
    
            <li>
                    <div class="content">
                        <div class="img">
                            <img src="src/img/brown-jacket.png">s
                        </div>
                        <div class="info">
                            <p>Reebook Track Jacket</p>
                            <div class="block">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="cost">100$</div>
                            </div>
                        </div>
                    </div>
                </li>
    </ul>
    
    
    <!-- news letter -->
        <div class="news__letter__wrap">
            <div class="news__letter__blocks">
    
                <div class="news__letter__first__block">
                    <div class="news__letter__main">NEWS LETTER</div>
                 </div>
    
                     <div class="news__letter__second__block">
                        <p class="news__letter__second__block__paragraph">join us now to get all news and special offers</p>
                     </div>
    
                         <div class="news__letter__third__block">
                
                            <p class="news__letter__third__block__paragraph"><i class="far fa-envelope"></i> <input class="news__letter__input" type="text" placeholder="type your email here"></p>
                
                        </div>
    
                            <div class="news__letter__orange__btn">
                
                                 <p class="news__letter__paragraph"><button class="news__letter__button">join us</button></p>
                    
                            </div>
            </div>
        </div>
    </div>