<!-- topbar -->
<div class="topbar">
  <div class=" container--topbar">

    <!-- contacts -->
    <address class="contacts">
      <ul class="contacts__list">
        <li class="contacts__item">
          <a href="mailto:info@shopy.com" class="contacts__link">
            <span class="contacts__icon">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="contacts__descr">
              info@shopy.com
            </span>
          </a>
        </li>
        <li class="contacts__item">
          <a href="453 - 5553 - 996" class="contacts__link">
            <span class="contacts__icon">
              <i class="fas fa-phone"></i>
            </span>
            <span class="contacts__descr">
              453 - 5553 - 996
            </span>
          </a>
        </li>
      </ul>
    </address>
    <!-- ./contacts -->

    <!-- social -->
    <address class="social">
      <ul class="social__list">
        <li class="social__item">
          <a href="#" class="social__link">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link">
            <i class="fab fa-google-plus-g"></i>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </address>
    <!-- ./social -->

    

  </div>

  
</div>
<!-- ./topbar -->

