<div class="show-btn-wrap">
    <a href="products.html" class="show-btn-container">
        <ul class="show-btn__list">
            
            <li class="show-btn__item">
                <span class="show-btn__dot"></span>
            </li>
    
            <li class="show-btn__item">
                <span class="show-btn__dot"></span>
            </li>
    
            <li class="show-btn__item">
                <span class="show-btn__dot"></span>
            </li>
    
        </ul>
    </a>
</div>