<div class="related-products">

        <div class="related-products__title-wrap">
            <h2 class="block-title">
            <span class="accent">related</span> products
            </h2>
            <p class="block-descr">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem hic voluptatum optio!</p>
        </div>
    
        {% include 'components/product_show/related_products/related_cards/related_cards.html' %}
        {% include 'components/ui/news-letter/news-letter.html' %}
        
    </div>