.news-letter-wrap {
    background-color: $grey;
    width: 100%;
    padding-bottom: 122px;
    padding-top: 80px;
}

.news-letter-container {
    @include container;
    height: 123px;
    background-color: #fff;
    padding: 37px 42px 36px 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include large {
        width: 700px;
        flex-direction: column;
        height: auto;
        padding: 27px 32px 26px 45px;
    }

    @media screen and (max-width: 880px) {
        width: 650px;
    }

    @include medium {
        width: 570px;
    }

    @media screen and (max-width: 599px) {
        // padding: 0 40px 0 40px;
        width: 550px;
    }

    @include small {
        width: 270px;
    }
}

.news-letter__text-wrap {
    width: 50%;
    display: flex;

    @include large {
        width: auto;
    }
}

.news-letter__title {
    margin: 0;
    text-transform: uppercase;
    color: $orange;
    @include rem(18);
}

.news-letter__descr {
    margin: 0 0 0 23px;
    @include rem(14);
    font-style: italic;
    color: $deepblue;
}

.news-letter__form {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include large {
        width: auto;
        margin-top: 40px;
    }

    @include small {
        flex-direction: column;
    }
}

.news-letter__input-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-letter__icon {
    display: block;
    width: 18px;
    color: $orange;
}

.news-letter__input {
    margin-left: 10px;
    border: none;
    color: #7c8791;
    @include rem(14);
    font-style: italic;
    width: 200px;
    padding: 0 7px;

    @include small {
     width: auto;
    }
}

.news-letter__btn {
    @include ui-reset-btn;
    @include rem(14);
    background: $orange;
    line-height: 1;
    color: #fff;
    padding: 17px 31px 18px 31px;
    margin-left: 86px;

    &:active {
        transform: translateY(1px);
    }

    @include extra-large {
        margin-left: 40px;
    }

    @include small {
        margin-left: 0;
        padding: 10px 24px 11px 24px;
        margin-top: 40px;
    }
}
