<div class="news-letter-wrap">
    <div class="news-letter-container">

        <div class="news-letter__text-wrap">
            <h4 class="news-letter__title">
                news letter
            </h4>
            <p class="news-letter__descr">
                join us now to get all new and special offers
            </p>
        </div>

        <form class="news-letter__form">

            <div class="news-letter__input-wrap">
                <span class="news-letter__icon">
                    <i class="fas fa-envelope"></i>
                </span>
                <input type="email" placeholder="type your email here" class="news-letter__input">
            </div>

            <button class="news-letter__btn" type="button">join us</button>

        </form>

    </div>
</div>