$orange: #ff5912; 
$deepblue: #34404b; 
$grey: #f4f6f8;    // used mostly for background
$darkgrey: #495662; //used mostly for descr text



/**
*Bootstrap breakpoints FTW
**/
$extra-large: 1220px;
$large: 992px;
$medium: 768px;
$small: 576px;
$extra-small: 351px;

$basic-font-size: 16;