.item-card__list {
    @include container;
    @include reset-list;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

}

.item-card-wrap {
    width: 270px;
    height: 365px;
    background-color: #fff;
}

.item-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.item-card__img {
    display: block;
    height: 80px;
}

.item-card__title {
    @include rem(18);
    color: $deepblue;
    font-weight: 700;
    margin: 0;
    padding-top: 29px;
}

.item-card__price {
    @include rem(18);
    color: $orange;
    font-weight: 700;
    margin: 0;
    padding-top: 33px;
    display: none;
}

.item-card__color-btn--wrap {
    @include reset-list;
    display: flex;
}


.item-card__color-btn {
    @include ui-reset-btn;
    width: 14px;
    height: 14px;
    background: $darkgrey;
    border-radius: 50%;
}

.item-card__color-btn--red {
    background: #e12e3f;
}

.item-card__color-btn--deepblue {
    background: $deepblue;
}

.item-card__color-btn--blue {
    background: #3ab3ff;
}

.item-card__color-btn--green {
    background: #2fd967;
}

.item-card__border {
    display: block;
    height: 1px;
    background: #f2f4f7;
    width: 170px;
}

.item-card__icons-wrap {
    @include reset-list;
    display: flex;
}